header {
    display: flex;
}
header h1{
    margin: auto;
}

article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

label input{
    display: block;
}
aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

aside a{
    padding: 2em;
}