body{
    background-image: url(../img/img02.jpg) ;
    background-size: cover;
}
h1{
    text-align: center;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

label{
    display: inline-block;
    width: 60px;
    margin: 3px;
    color: bisque;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 40px;
}


.botones input{
    width: 160px;
    height: 50px;
    border-radius: 5px;
}

.enviar{
    background-color: #a1ffa1;

}

.cancelar{
background-color: #cc5c3f;
}