body{
    background-color: #faeee7;
}
.contenedor-perfil{
    display: flex;
    flex-wrap: wrap;
}

.imagen-perfil{
    width: 20%;
    margin-left: 40px;
}

.datos{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10em;
    width: auto;
    margin-left: 50px;
}

.datos div{
    width: calc(40% -10px);
}

label{
    display: inline-block;
    width: 100px;
    margin: 7px;
}

.datos label{
    margin: 12px 0px;
    width: 200px;
}

.metodos div{
    margin-left: 60px;
}

#nrocvv{
    width: 30px;
}

.botones{
    margin: 30px auto;
    display: flex;
    gap: 40px;
}

.botones input{
    width: 160px;
    height: 50px;
    border-radius: 5px;
}

.guardar{
    background-color: #a1ffa1;
}

.cancelar{
    background-color: #cc5c3f;    
}